// Material Theme Color Palette

// Blue
$blue-light: #11111b;
$blue-dark: #cba6f7;

// Red
$red-light: #11111b;
$red-dark: #f38ba8;

// Green
$green-light: #11111b;
$green-dark: #89b4fa;

// Yellow
$yellow-light: #11111b;
$yellow-dark: #f38ba8;

// Cyan
$cyan-light: #313244;
$cyan-dark: #cdd6f4;

// Orange
$orange-light: #313244;
$orange-dark: #cdd6f4;

// Pink
$pink-light: #313244;
$pink-dark: #cdd6f4;

// Purple
$purple-light: #11111b;
$purple-dark: #cba6f7;

// Teal
$teal-light: #313244;
$teal-dark: #45475a;

// Grey
$grey-050: #cdd6f4;
$grey-100: #cdd6f4;
$grey-150: #cdd6f4;
$grey-200: #cdd6f4;
$grey-250: #a6adc8;
$grey-300: #a6adc8;
$grey-350: #585b70;
$grey-400: #585b70;
$grey-450: #45475a;
$grey-500: #45475a;
$grey-550: #313244;
$grey-600: #313244;
$grey-650: #313244;
$grey-700: #181825;
$grey-750: #1e1e2e;
$grey-800: #1e1e2e;
$grey-850: #11111b;
$grey-900: #181825;
$grey-950: #1e1e2e;

// White
$white: #cdd6f4;

// Black
$black: #1e1e2e;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == "light", #e53935, #f07178);
$button-max: if($topbar == "light", #91b859, #c3e88d);
$button-min: if($topbar == "light", #f6a434, #ffcb6b);
