// Material Theme Color Palette

// Blue
$blue-light: #381e72;
$blue-dark: #d0bcff;

// Red
$red-light: #601410;
$red-dark: #f2b8b5;

// Green
$green-light: #381e72;
$green-dark: #ccc2dc;

// Yellow
$yellow-light: #381e72;
$yellow-dark: #ccc2dc;

// Cyan
$cyan-light: #4f378b;
$cyan-dark: #e6e0e9;

// Orange
$orange-light: #2b292f;
$orange-dark: #e6e0e9;

// Pink
$pink-light: #2b292f;
$pink-dark: #e6e0e9;

// Purple
$purple-light: #381e72;
$purple-dark: #4f378b;

// Teal
$teal-light: #381e72;
$teal-dark: #ccc2dc;

// Grey
$grey-050: #fef7ff;
$grey-100: #fef7ff;
$grey-150: #e6e0e9;
$grey-200: #e6e0e9;
$grey-250: #cac4cf;
$grey-300: #cac4cf;
$grey-350: #948f99;
$grey-400: #948f99;
$grey-450: #49454e;
$grey-500: #49454e;
$grey-550: #49454e;
$grey-600: #36343a;
$grey-650: #36343a;
$grey-700: #2b292f;
$grey-750: #211f24;
$grey-800: #141218;
$grey-850: #141218;
$grey-900: #141218;
$grey-950: #141218;

// White
$white: #e6e0e9;

// Black
$black: #141218;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == "light", #e53935, #f07178);
$button-max: if($topbar == "light", #91b859, #c3e88d);
$button-min: if($topbar == "light", #f6a434, #ffcb6b);
