// Material Theme Color Palette

// Blue
$blue-light: #364500;
$blue-dark: #c0d479;

// Red
$red-light: #850005;
$red-dark: #ffb6ad;

// Green
$green-light: #4c2b4a;
$green-dark: #e4bcdd;

// Yellow
$yellow-light: #0a3a68;
$yellow-dark: #abcaf9;

// Cyan
$cyan-light: #54670e;
$cyan-dark: #ffffff;

// Orange
$orange-light: #6f4e6b;
$orange-dark: #ffffff;

// Pink
$pink-light: #395b87;
$pink-dark: #ffffff;

// Purple
$purple-light: #263200;
$purple-dark: #daef93;

// Teal
$teal-light: #2c507c;
$teal-dark: #abcaf9;

// Grey
$grey-050: #e0e3ec;
$grey-100: #e0e3ec;
$grey-150: #e0e3ec;
$grey-200: #e0e3ec;
$grey-250: #c2c9d7;
$grey-300: #c2c9d7;
$grey-350: #8f96a4;
$grey-400: #8f96a4;
$grey-450: #525a67;
$grey-500: #525a67;
$grey-550: #484f5d;
$grey-600: #40454d;
$grey-650: #3c4049;
$grey-700: #31363e;
$grey-750: #262b35;
$grey-800: #212630;
$grey-850: #101823;
$grey-900: #191f28;
$grey-950: #191f28;

// White
$white: #e0e3ec;

// Black
$black: #191f28;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == "light", #e53935, #f07178);
$button-max: if($topbar == "light", #91b859, #c3e88d);
$button-min: if($topbar == "light", #f6a434, #ffcb6b);
