// Material Theme Color Palette

// Blue
$blue-light: {{colors.on_primary.default.hex}};
$blue-dark: {{colors.primary.default.hex}};

// Red
$red-light: {{colors.on_error.default.hex}};
$red-dark: {{colors.error.default.hex}};

// Green
$green-light: {{colors.on_secondary.default.hex}};
$green-dark: {{colors.secondary.default.hex}};

// Yellow
$yellow-light: {{colors.on_tertiary.default.hex}};
$yellow-dark: {{colors.tertiary.default.hex}};

// Cyan
$cyan-light: {{colors.primary_container.default.hex}};
$cyan-dark: {{colors.on_primary_container.default.hex}};

// Orange
$orange-light: {{colors.secondary_container.default.hex}};
$orange-dark: {{colors.on_secondary_container.default.hex}};

// Pink
$pink-light: {{colors.tertiary_container.default.hex}};
$pink-dark: {{colors.on_tertiary_container.default.hex}};

// Purple
$purple-light: {{colors.on_primary_fixed.default.hex}};
$purple-dark: {{colors.primary_fixed.default.hex}};

// Teal
$teal-light: {{colors.on_tertiary_fixed_variant.default.hex}};
$teal-dark: {{colors.tertiary_fixed_dim.default.hex}};

// Grey
$grey-050: {{colors.inverse_surface.default.hex}};
$grey-100: {{colors.inverse_surface.default.hex}};
$grey-150: {{colors.on_surface.default.hex}};
$grey-200: {{colors.on_surface.default.hex}};
$grey-250: {{colors.on_surface_variant.default.hex}};
$grey-300: {{colors.on_surface_variant.default.hex}};
$grey-350: {{colors.outline.default.hex}};
$grey-400: {{colors.outline.default.hex}};
$grey-450: {{colors.outline_variant.default.hex}};
$grey-500: {{colors.outline_variant.default.hex}};
$grey-550: {{colors.surface_variant.default.hex}};
$grey-600: {{colors.surface_bright.default.hex}};
$grey-650: {{colors.surface_container_highest.default.hex}};
$grey-700: {{colors.surface_container_high.default.hex}};
$grey-750: {{colors.surface_container.default.hex}};
$grey-800: {{colors.surface_container_low.default.hex}};
$grey-850: {{colors.surface_container_lowest.default.hex}};
$grey-900: {{colors.surface.default.hex}};
$grey-950: {{colors.surface_dim.default.hex}};

// White
$white: {{colors.on_background.default.hex}};

// Black
$black: {{colors.background.default.hex}};

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == "light", #e53935, #f07178);
$button-max: if($topbar == "light", #91b859, #c3e88d);
$button-min: if($topbar == "light", #f6a434, #ffcb6b);
