/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #525252 !important;
  --toolbarbutton-icon-fill: #ff7eb6 !important;
  --toolbar-field-color: #dde1e6 !important;
  --tab-selected-textcolor: #ff7eb6 !important;
  --toolbar-color: #dde1e6 !important;
  --arrowpanel-color: #dde1e6 !important;
  --arrowpanel-background: #161616 !important;
  --sidebar-text-color: #dde1e6 !important;
  --zen-main-browser-background: #121212 !important;
}

.sidebar-placesTree {
  background-color: #161616 !important;
}

#zen-workspaces-button {
  background-color: #161616 !important;
}

#TabsToolbar {
  background-color: #121212 !important;
}

.urlbar-background {
  background-color: #161616 !important;
}

.urlbar-input::selection {
  color: #161616 !important;
  background-color: #ff7eb6 !important;
}

.urlbarView-url {
  color: #f2f4f8 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ff7eb6
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ff91c0 !important;
  --identity-icon-color: #ff91c0 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ff7eb6 !important;
  --identity-icon-color: #ff7eb6 !important;
}

.identity-color-green {
  --identity-tab-color: #bcffa4 !important;
  --identity-icon-color: #bcffa4 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffeba4 !important;
  --identity-icon-color: #ffeba4 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe171 !important;
  --identity-icon-color: #ffe171 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9ea3 !important;
  --identity-icon-color: #ff9ea3 !important;
}

.identity-color-pink {
  --identity-tab-color: #ffa4cb !important;
  --identity-icon-color: #ffa4cb !important;
}

.identity-color-purple {
  --identity-tab-color: #760838 !important;
  --identity-icon-color: #760838 !important;
}

#zen-appcontent-navbar-container {
  background-color: #121212 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ff7eb6 !important;
  color: #ff7eb6 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ff7eb6 !important;
  color: #ff7eb6 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ff7eb6 !important;
}
