@import "themes/rose-pine-moon.css";

* {
  font-size: 1rem;
  font-weight: 900;
  font-family: "JetBrainsMono Nerd Font Mono", "JetBrainsMono NFM Medium";
  background-clip: border-box;
}

#waybar {
  background-color: transparent;
}

tooltip {
  border-radius: 16px;
  background-color: @base;
  opacity: 0.9;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @text;
}

#window {
  margin: 0 0.3em;
}

button {
  border-radius: 999px;
  color: @text;
  transition:
    all 50ms cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 50ms ease-in-out,
    background-color 200ms ease-in-out;
}

button:hover {
  color: @highlightHigh;
  background: @rose;
}

button.active {
  color: @highlightLow;
  background: @pine;
}

#custom-appmenu,
#quicklinks,
#workspaces,
#media,
#hardware,
#clock,
#custom-notification {
  background-color: @surface;
  border-radius: 999px;
  box-shadow: 0px 0px 1px 1px @subtle inset;
}

#quicklinks,
#media,
#hardware,
#clock {
  padding: 0 1rem;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

#pulseaudio,
#pulseaudio#microphone,
#bluetooth {
  margin: 0 0.3rem;
}

#cpu,
#memory,
#disk,
#temperature {
  margin: 0 0.3rem;
}

#custom-appmenu,
#custom-notification {
  font-size: 24px;
  min-width: 32px;
  min-height: 32px;
  padding: 0 0.1em;
  border-radius: 999px;
}

#taskbar {
  font-weight: normal;
  font-style: normal;
}

@keyframes blink {
  to {
    background-color: @pine;
  }
}

#battery.critical:not(.charging) {
  background-color: @love;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @pine;
}

label:focus {
  background-color: @pine;
}

#backlight {
  background-color: @pine;
}

#temperature.critical {
  color: @love;
}
