@define-color foreground #e0def4;
@define-color background #232136;
@define-color cursor #e0def4;

@define-color color0 #393552;
@define-color color1 #eb6f92;
@define-color color2 #3e8fb0;
@define-color color3 #f6c177;
@define-color color4 #9ccfd8;
@define-color color5 #c4a7e7;
@define-color color6 #ea9a97;
@define-color color7 #e0def4;
@define-color color8 #6e6a86;
@define-color color9 #eb6f92;
@define-color color10 #3e8fb0;
@define-color color11 #f6c177;
@define-color color12 #9ccfd8;
@define-color color13 #c4a7e7;
@define-color color14 #ea9a97;
@define-color color15 #e0def4;

